<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<meta name='format-detection' content='telephone=no,email=no' />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no">
    <link href="http://cmp/v/css/cmp.css" rel="stylesheet" type="text/css" />
<link href="http://meeting.v5.cmp/v1.0.0/css/cmp-meeting.css" rel="stylesheet" type="text/css" />
<link href="http://meeting.v5.cmp/v1.0.0/css/m3_meeting.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="http://cmp/v/css/cmp-listView.css">
	<link rel="stylesheet" href="http://cmp/v/css/cmp-sliders.css">
	<title></title>
	<style type="text/css">
		.cmp-table-view-cell:after{ left: 0px; }
	</style>
</head>
<body class="cmp-fullscreen cmp-ios cmp-ios-9 cmp-ios-9-1">
	<div class="cmp-content back_white relative cmp-content-none">
		<div class="cmp-control-content cmp-active">
			<div id="scroller" class="cmp-scroll-wrapper">
				<div class="cmp-scroll">
					<div class="room_wrap">
					    <div id="banners" class="banners cmp-slider">
					        <div class="cmp-slider-group"></div>
					        <div class="cmp-slider-indicator"></div>
					    </div>
					</div>
					<ul class="cmp-table-view">
						<li class="cmp-table-view-cell">
							<div class="list_item">
								<div class="left_name"><i18n key="meeting.meetingRoomDetail.name"></i18n></div>
								<div id="name" class="right_text"></div>
							</div>
						</li>
						<li class="cmp-table-view-cell">
							<div class="list_item">
								<div class="left_name"><i18n key="meeting.meetingRoomDetail.seatCount"></i18n></div>
								<div id="seatCount" class="right_text"></div>
							</div>
						</li>
						<li class="cmp-table-view-cell">
							<div class="list_item">
								<div class="left_name"><i18n key="meeting.meetingRoomDetail.place"></i18n></div>
								<div id="place" class="right_text"></div>
							</div>
						</li>
						<li class="cmp-table-view-cell">
							<div class="list_item">
								<div class="left_name"><i18n key="meeting.meetingRoomDetail.description"></i18n></div>
								<div id="description" class="right_text"></div>
							</div>
						</li>
						<li class="cmp-table-view-cell">
							<div class="list_item">
								<div class="left_name"><i18n key="meeting.meetingRoomDetail.device"></i18n></div>
								<div id="device" class="right_text"></div>
							</div>
						</li>
						<li class="cmp-table-view-cell">
							<div class="list_item">
								<div class="left_name" style="width: 120px;"><i18n key="meeting.meetingRoomDetail.admin"></i18n></div>
								<div id="adminNames" class="right_text"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	    <!--轮播图-->
    <script type="text/html" id="bannerTpl_img">
        <% for(var i = 0,len = this.length;i < len; i++){ %>
        <% var obj = this[i];%>
        <% var height = document.querySelector("#banners").offsetHeight;%>
        <% var width = document.querySelector("#banners").offsetWidth;%>
        <% if(i === 0){%>
            <div class="cmp-slider-item cmp-slider-item-duplicate cmp-hidden">
                <a link-url = "<%=this[len-1].link%>">
                    <img src="<%=this[len-1].url%>" index="<%=(len-1)%>">
                </a>
            </div>
        <%}%>
        <div class="cmp-slider-item">
            <a link-url = "<%=obj.link%>">
                <img src="<%=obj.url%>" index="<%=i%>">
                <!--<p class="cmp-slider-title"><%=obj.name%></p>-->
            </a>
        </div>
        <%if(i === len-1){%>
            <div class="cmp-slider-item cmp-slider-item-duplicate cmp-hidden">
                <a link-url = "<%=this[0].link%>">
                    <img src="<%=this[0].url%>" index="<%=0%>">
                    <!--<p class="cmp-slider-title"><%=this[0].name%></p>-->
                </a>
            </div>
        <%}%>
        <%}%>
    </script>
    <script type="text/html" id="bannerTpl_indicator">
        <% for(var i = 0,len = this.length;i < len; i++){ %>
        <% var obj = this[i]; %>
            <%if(i == 0){%>
                <div class="cmp-indicator cmp-active"></div>
            <%}else{%>
                <div class="cmp-indicator"></div>
            <%}%>
        <% } %>
    </script>
	
     <script src="http://cmp/v/js/cordova/__CMPSHELL_PLATFORM__/cordova.js"></script>
<script src="http://cmp/v/js/cordova/cordova-plugins.js"></script>  
	<script src="http://cmp/v/js/cmp-i18n.js"></script>
	<script  src="http://cmp/v/js/cmp.js" type="text/javascript"></script>
<script  src="http://meeting.v5.cmp/v1.0.0/js/meeting-jssdk.js" type="text/javascript"></script>
<script  src="http://commons.v5.cmp/v/m3-jssdk.js" type="text/javascript"></script>
<script  src="http://meeting.v5.cmp/v1.0.0/js/meetingCommon.js" type="text/javascript"></script>
<script  src="http://meeting.v5.cmp/v1.0.0/i18n/MeetingResources_zh_CN.js" type="text/javascript"></script>
	<script src="http://cmp/v/js/cmp-imgCache.js"></script>
	<script src="http://cmp/v/js/cmp-listView.js"></script>
	<script src="http://cmp/v/js/cmp-sliders.js"></script>
	<script src="http://cmp/v/js/cmp-att.js"></script>
	<script type="text/javascript">
    var _meetingPath = "http://meeting.v5.cmp/v1.0.0";
  var _collPath = "http://collaboration.v5.cmp/v1.0.0";
</script>    <script src="http://meeting.v5.cmp/v1.0.0/js/meetingRoomDetail.js"></script>
</body>
</html>
<!--******************** auto import check  ****************--!>
