<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<meta name='format-detection' content='telephone=no,email=no' />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,email=no">
  	<link href="http://cmp/v/css/cmp.css" rel="stylesheet" type="text/css" />
<link href="http://meeting.v5.cmp/v1.0.0/css/cmp-meeting.css" rel="stylesheet" type="text/css" />
<link href="http://meeting.v5.cmp/v1.0.0/css/m3_meeting.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cmp/v/css/cmp-att.css">
	<link rel="stylesheet" href="http://cmp/v/css/cmp-listView.css">
	<link rel="stylesheet" href="http://cmp/v/css/cmp-search.css">
	
	<!-- 
	<link rel="stylesheet" href="http://cmp/v/css/cmp-audio.css">
    <link rel="stylesheet" href="http://cmp/v/css/cmp-selectOrg.css">
  	
  	正文组件样式css 
	<link rel="stylesheet" href="http://commons.v5.cmp/v/cmp-resources/content.css">
     -->
    
	<title></title>
	<style type="text/css">
		/*.cmp-table-view-cell:after{ left: 0px; height: 0px;}
		.cmp-table-view:before{ background-color:#d4d4d4; }
		.cmp-table-view:after{ background-color: #d4d4d4; }
		.cmp-table-view-cell{ padding: 5px 15px; }*/
		/*英文正文显示正常换行，样式覆盖*/

	</style>
	<link rel="stylesheet" href="http://meeting.v5.cmp/v1.0.0/css/meetingDetail.css"/>
</head>
<body class="cmp-fullscreen cmp-ios cmp-ios-9 cmp-ios-9-1 meeting-body" onresize="hideOrShowAttForm()">
	<div id="scroller" class="cmp-content back_f2 cmp-user-select-auto">
		<div>
			<div class="meeting-detail">
				<div id="titleDiv" class="title"></div>
				<div class="date-wrap">
					<div class="detail-title-name-warp">
						<span id="createUserName" class="name detail-title-username"></span>
						<span id="createDate" class="date detail-title-time"></span>
					</div>
				</div>
			</div>
			<div class="meeting-list meeting-info">
				<ul class="cmp-table-view">
					<li id="receiptInfo" class="cmp-table-view-cell" style="display: none;">
						<div style="overflow: hidden;
						width: 100%;
						left: 0;
						height: 36px;
						line-height: 36px;
						background: rgba(255, 197, 0, 0.2);
						color: #ff9900;
						z-index: 2;
						box-shadow: 0 0 4px 0 rgba(0,0,0,0.30);">
							<span style="float:left;margin:0 7px 0 18px;" class="see-icon-v5-common-back-tips"></span>
							<span style="float:left;max-width:70%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><i18n key="admin.label.receiptinfo"></i18n>:<span id="receiptInfoType"></span></span>
							<span onclick="hideReceiptInfo()" style="float:right;margin:0 15px 0 0;" class="see-icon-v5-common-close"></span>
						</div>
					</li>
					<li class="cmp-table-view-cell">
						<div class="list_item">
								<!-- 会议时间 -->
								<div class="left_title"><i18n key="meeting.page.lable.meetingTime"></i18n></div>
								<div id="meetingDate" class="right_text" ></div>
						</div>
					</li>
					<li class="cmp-table-view-cell">
						<div class="list_item">
							<!-- 会议地点 -->
							<div class="left_title"><i18n key="meeting.page.lable.place"></i18n></div>
							<div id="meetingPlace" class="right_text" style="word-break:break-word;"></div>
						</div>
					</li>
					<li id="videoRoomDiv" class="cmp-table-view-cell" style="display:none;">
						<div class="list_item">
							<!-- 视频会议 -->
							<div class="left_title"><i18n key="meeting.page.lable.button.vidio.room"></i18n></div>
							<div id="videoeetingPlace" class="right_text" style="word-break:break-word;"></div>
						</div>
					</li>
					<li id="videoPasswordDiv" class="cmp-table-view-cell" style="display:none;">
						<div class="list_item">
							<!-- 会议密码 -->
							<div class="left_title"><i18n key="meeting.meetingCreate.password"></i18n></div>
							<div id="meetingPassword" class="right_text" style="word-break:break-word;"></div>
						</div>
					</li>
					<li class="cmp-table-view-cell">
						<div class="list_item">
							<!-- 会议分类-->
							<div class="left_title"><i18n key="meeting.meetingCreate.meetingType"></i18n></div>
							<div id="meetingType" class="right_text" style="word-break:break-word;"></div>
						</div>
					</li>
					<li class="cmp-table-view-cell">
						<div class="list_item">
							<!-- 主持人 -->
							<div class="left_title"><i18n key="meeting.page.lable.host"></i18n></div>
							<div id="meetingHost" class="right_text"></div>
						</div>
					</li>
					<li class="cmp-table-view-cell">
						<div class="list_item">
							<!-- 记录人 -->
							<div class="left_title"><i18n key="meeting.page.lable.recorderId"></i18n></div>
							<div id="recorderName" class="right_text"></div>
						</div>
					</li>
					<!-- 会议二维码 -->
					<li class="cmp-table-view-cell mt-orcode" id="liMtQrcode">
						<div class="list_item">
							<div class="left_title"><i18n key="meeting.page.label.singn.qrcode"></i18n></div>
							<div id="mtQrcode" class="right_text">
								<span class="see-icon-v5-common-qrcode qrcode_icon">
								</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- 视频会议 -->
			<div id="v_entrance" class="btn-wrap" style="display:none;position: relative;">
				<ul>
					<li class="vidioMeeting" style="font-size: 16px;">
						<div>
							<span style="position: relative;font-size: 18px;" class="see-icon-v5-common-video-meeting left-icon" style="font-size: 16px;">
							</span><i18n key="meeting.page.lable.button.vidio"></i18n>
						</div>
					</li>
					</ul>
			</div>
			<div class="text-area">
				<div id="listView" class="text" style="word-break: break-word;">
				</div>
			</div>
			<div class="meeting-list">
				<ul class="cmp-table-view">
					<li id="showLeader" class="cmp-table-view-cell" style="display:none;padding: 15px 15px 10px 15px;">
						<div class="list_item" id="goLeaderListBtn">
							<!-- 参会领导 -->
							<div class="left_title attend"><i18n key="meeting.meetingDetail.leader"></i18n></div>
							<div class="right_text one" >
								<span id="leaderNames"></span>
							</div>
							<div><span class="see-icon-v5-common-arrow-right icon-arrow"></span></div>
						</div>
					</li>
					<li class="cmp-table-view-cell">
						<div class="list_item" id="goUserListBtn">
							<!-- 与会人员 -->
							<div class="left_title attend"><i18n key="meeting.page.lable.conferees"></i18n></div>
							<div class="right_text one" >
								<span id="confereesNames"></span>
							</div>
							<div><span class="see-icon-v5-common-arrow-right icon-arrow"></span></div>
						</div>
					</li>
					<li class="cmp-table-view-cell">
						<div class="list_item" id="goImpartListBtn">
							<!-- 告知人员 -->
							<div class="left_title attend"><i18n key="meeting.meetingCreate.notify"></i18n></div>
							<div class="right_text one" >
								<span id="impartNames"><i18n key="meeting.meetingCreate.none"></i18n></span>
							</div>
							<div><span class="see-icon-v5-common-arrow-right icon-arrow"></span></div>
						</div>
					</li>

					<li id="showSummary" class="cmp-table-view-cell" style="display:none;">
						<div class="list_item" id="summaryBtn">
							<!-- 会议纪要 -->
							<div class="left_title attend"><i18n key="meeting.page.lable.meetingSummary"></i18n></div>
							<div class="right_text one" >
								
							</div>
							<div><span class="see-icon-v5-common-arrow-right icon-arrow"></span></div>
						</div>
					</li>
					<li id="showTask" class="cmp-table-view-cell" style="display:none;">
						<div class="list_item" id="meetingTask">
							<!-- 会议任务 -->
							<div class="left_title attend"><i18n key="meeting.page.label.meetingTask"></i18n></div>
							<div class="right_text one" >
								<span id="meetingTaskNum"></span>
							</div>
							<div><span class="see-icon-v5-common-arrow-right icon-arrow"></span></div>
						</div>
					</li>
				</ul>
			</div>
			<div id="attachment" style="display: none;" class="attachment-wrap"><!-- 附件 -->
				<div class="attach-title">
					<span><i18n key="meeting.page.lable.attachment"></i18n></span>
					<span id="attachmentAttCount"></span> 
					<!-- 关联文档 -->
					<span id="docLabel"><i18n key="meeting.page.lable.associatedDocument"></i18n></span>
					<span id="attachmentDocCount"></span>
					<span class="see-icon-v5-common-arrow-top right jiantou"></span>
				</div>
				<div id="attListUl" class="atatch-text">
				</div>
			</div>
			<div id="replyConation" class="attachment-wrap">
				<div id="replyDiv" class="attach-title">
					<span><i18n key="meeting.page.action.receiptComments"></i18n></span>
					<span id="replySize"></span>
					<span class="see-icon-v5-common-arrow-top right jiantou"></span>
				</div>
				<div id="replyListDiv" class="atatch-text" style="padding-top: 10px;background-color: white; ">
					<ul class="attach-list" id="replyListUl">
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<footer id="buttonArea" class="cmp-bar cmp-bar-tab cmp-bar-footer auto-height" style="display: none;"> 
		<div class="cmp-block-with-btn cmp_handler_content_blue footer-btn" >
			
			<a id="modifyBtn" href="javascript:void(0)" class="btn" style="display: none;" >
				<!-- 编辑 -->
				<lable id="modifyLable"><i18n key="meeting.meetingDetail.modify"></i18n></lable>
			</a>
			
			<a id="transCacelBtn" href="javascript:void(0)" class="btn"  style="display: none;" >
				<!-- 撤销 -->
				<lable id="transCacelLable"><i18n key="meeting.meetingRoom.cancel"></i18n></lable>
			</a>

			<a id="transAdvanceOverBtn" class="btn"  href="javascript:void(0)" style="display: none;">
				<!-- 提前结束 -->
				<lable id="transAdvanceOverLable"><i18n key="meeting.meeting.advanceMeeting"></i18n></lable>
			</a>

			<a id="transformBtnLable" class="btn border_r_n"  href="javascript:void(0)" style="display: none;">
				<!-- 邀请 -->
				<lable id="transformLable"><i18n key="meeting.page.action.invite"></i18n></lable>
			</a>
			
			<a id="qrCodeInviteBtn" class="btn border_r_n"  href="javascript:void(0)" style="display: none;">
				<!-- 分享 -->
                <lable id="qrCodeInviteLabel"><i18n key="meeting.meeting.share"></i18n></lable>
			</a>
			
			<a id="quickReplyBtn" class="btn"  href="javascript:void(0)" style="display: none;">
				<!-- 快速回执 --> 
				<lable id="cancelBtnLable"><i18n key="meeting.page.action.fastreply"></i18n></lable>
			</a>

			<a id="replyBtn" class="btn border_r_n"  href="javascript:void(0)" style="display: none;">
				<!-- 回执 -->
				<lable id="trackBtnLable"><i18n key="meeting.page.action.receipt"></i18n></lable>
			</a>
		</div>
	</footer>
	
	<script src="http://cmp/v/js/cordova/__CMPSHELL_PLATFORM__/cordova.js"></script>
<script src="http://cmp/v/js/cordova/cordova-plugins.js"></script>  
	<script src="http://cmp/v/js/cmp-i18n.js"></script>
	<script  src="http://cmp/v/js/cmp.js" type="text/javascript"></script>
<script  src="http://meeting.v5.cmp/v1.0.0/js/meeting-jssdk.js" type="text/javascript"></script>
<script  src="http://commons.v5.cmp/v/m3-jssdk.js" type="text/javascript"></script>
<script  src="http://meeting.v5.cmp/v1.0.0/js/meetingCommon.js" type="text/javascript"></script>
<script  src="http://meeting.v5.cmp/v1.0.0/i18n/MeetingResources_zh_CN.js" type="text/javascript"></script>
	<script type="text/javascript">
	   var $verstion = "";
	   var _meetingPath = "http://meeting.v5.cmp/v1.0.0";
	   var _collPath = "http://collaboration.v5.cmp/v1.0.0";  
	   var _common_v5_path = "http://commons.v5.cmp/v";
	   var _cmpPath = "http://cmp/v";
       cmp.i18n.init("http://meeting.v5.cmp/v1.0.0/i18n/", "MeetingResources");
    </script>
    
    <script src="http://cmp/v/js/cmp-asyncLoad.js"></script>
	<script src="http://cmp/v/js/cmp-imgCache.js"></script>
	<script src="http://cmp/v/js/cmp-listView.js"></script>
	<script src="http://cmp/v/js/cmp-att.js"></script>
	<script src="http://cmp/v/js/cmp-description.js"></script>
	<script src="http://cmp/v/js/cmp-webviewListener.js"></script>
	<script src="http://taskmanage.v5.cmp/v1.0.0/taskmanage_m_api.s3js"></script>
    <script src="http://commons.v5.cmp/v/widget/SeeyonAttachment.s3js"></script>
    <script src="http://commons.v5.cmp/v/widget/AtComponent.js"></script>
    <script src="http://meeting.v5.cmp/v1.0.0/js/meetingDetail.js"></script>

<!-- 
	<script src="http://cmp/v/js/cmp-audio.js"></script>
	<script src="http://cmp/v/js/cmp-push.js"></script>
	<script src="http://cmp/v/js/cmp-app.js"></script>
    <script src="http://cmp/v/js/cmp-selectOrg.js"></script>
    <script src="http://cmp/v/js/cmp-emoji.js"></script>
    附件
    <script src="http://commons.v5.cmp/v/widget/SeeyonContent.js"></script>
 -->

	<!-- -->
	<script type="text/html" id="replyListTpl">
	<% 	page.index = 0;
		page.attmentMap = {};
		var attitudeList = {"ATD-1":cmp.i18n("meeting.page.action.pending"),"ATD-100":cmp.i18n("meeting.page.lable.noReceipt"),"ATD0":cmp.i18n("meeting.page.action.noAttend"),"ATD1":cmp.i18n("meeting.page.action.attend"),"ATD3":""};
		for(var i = 0,len = this.replyList.length; i < len; i++){ 
			var reply = this.replyList[i];
			if(reply.feedbackFlag == "-100"){
				return;
			}%>
			<li class="attach-lisy-li">
				<div class="opinion-wrap-div">
					<div class="user-info">
						<img class="cmp-img-cache img_setting" cmp-data="<%=reply.userId %>"  />
						<span class="states"><%=attitudeList["ATD"+reply.feedbackFlag]%></span>
						<div class="user-name" userid="<%=reply.userId%>"  validuser="<%=reply.validByUser%>">
							<%=reply.userName%>
				        	<% if(reply.ext1 == "1") {%>
				      			<span style="color: red;">
									(<%=cmp.i18n(("meeting.page.lable.agentsFrom"),reply.ext2)%>)
								</span>
		        			<%}%>
		        		</div>
		        		
					</div>
					<div class="opinion-div">
						<p class="opinion-context word-break">
							<%=reply.feedbackHtml%>
						</p>
					</div>
					<div>
						<ul id="replayAttUl<%=page.index%>" class="fold_replay_content opinion-div" style="display:block;">
					      	<% 
					        	if(reply.attachmentList.length >0 ){
					        		page.attmentMap["replayAttUl"+(page.index)] = reply.attachmentList;
					        	}
					        	page.index++;
					      	%>
					      	<!--附件区域-->
				      	</ul>
					</div>
					<div class="opinion-time-div relative">
						<div class="opinion-time">
							<p>
								<span><%=reply.readDateFormat%></span>
								<% if(reply.source == "weixin"){%>
					      			&nbsp;<span class="cmp-h6"><%=cmp.i18n("meeting.comeFrom.wechatClient")%></span>		
					  			<% }else if(reply.source == "miniprogram"){ %>
					  				&nbsp;<span class="cmp-h6"><%=cmp.i18n("meeting.page.action.fromMiniProgram")%></span>
					  			<% }else if(reply.source == "androidphone" || reply.source == "androidpad" || reply.source == "ipad" || reply.source == "iphone"){ %>
					      			&nbsp;<span class="cmp-h6"><%=cmp.i18n("meeting.comeFrom.mobileClient")%></span>	
								<% } %>
							</p>
						</div>
						<%if(this.meeting.state != "30" && this.meeting.state != "31" && this.meeting.state != "-10" && (page.openFrom != "glwd")){%>
				        	<span class=" commentBtn cmp-icon iconfont m3-icon-revert-fill replay_btn" style=" position: absolute;top: 7px;right: 17px; color: #A2ACC7; " replyid="<%=reply.id%>"></span>
			        	<%}%>
					</div>
					<%  var commentList = reply.commentList; %>
					<% if(commentList.length > 0) { %>
					<div class="comment-div">
						<div class="comment-body">
							<ul>
								<%  
			    				for(var i1 = 0,len1 = commentList.length; i1 < len1; i1++){  
			    					var comment = commentList[i1];
								%>
									<li>
										<p class="comment-p"> 
											<span class="name-mark"></span>
											<% if(comment.proxyId!=null && comment.proxyId!="" && comment.proxyId!=0) { %>
												<span userid="<%=comment.proxyId%>" validuser="<%=comment.validByUser%>">
													<span class="user-name"><%=comment.proxyName%>
														<span style="color: red;">
															(<%=cmp.i18n(("meeting.page.lable.agentsFrom"),comment.createUserName)%>)
														</span>
													</span>
												</span>
											<% } else { %>
												<span userid="<%=comment.createUserId%>" validuser="<%=comment.validByUser%>">
													<span class="user-name"><%=comment.createUserName%></span>
												</span>
											<% } %>
										</p>
									</li>
									<li>
										<p class="comment">
											<%if(comment.isHidden){%>
						            			<span class="cmp-h6">[<%=cmp.i18n("meeting.page.action.hide")%>]</span>
							            	<%}%>
							            	<span class="word-break"><%=comment.contentHtml%></span>
							            </p>
									</li>
									<li>
										<!-- 附件部分 -->
										<ul id="commentUl<%=page.index%>"  class="fold_replay_content opinion-div" style="display:block;padding:0px;">
							             	<%	if(comment.attachmentList.length > 0 && !comment.hiddenAttment){
							              			page.attmentMap["commentUl"+(page.index)] = comment.attachmentList;
							              		}
							              		page.index++;
							            	%>
							          	</ul>
									</li>
									<li>
										<p class="comment-t">
											<span><%=comment.createDateFormat%></span>
											<% if(comment.source != "pc"){%>
												<span class="cmp-h6">
												<% if(comment.source == "weixin"){%>
													<%=cmp.i18n("meeting.comeFrom.wechatClient")%>
												<% } else if(comment.source == "androidphone" || comment.source == "androidpad" || comment.source == "ipad" || comment.source == "iphone"){ %>
													<%=cmp.i18n("meeting.comeFrom.mobileClient")%>
												<% } %>
												</span>
											<%}%>
										</p>
									</li>
								<%}%>
							</ul>
						</div>
					</div>
					<%}%>
				</div>
			</li>
		<%}%>
	</script>

	<div id="animateR" class="Animated-Container bottom-go transparentBgBox">
	<div class="shadebg"></div>

	<div id="mainBodyArea" class="text-container">
		<ul class="cmp-handle-btn-content col comment-statesR" id="attitudeForm" style="display:none;">
	        <li name="feedbackFlag" data-value="1" class="cmp-active">
	        	<span value="meeting.page.action.attend" class="cmp-radio2 iconRadioinput see-icon-v5-common"></span>
	        	<i18n key="meeting.page.action.attend"></i18n>
	        </li>
	        <li name="feedbackFlag" data-value="0">
				<span value="meeting.page.action.noAttend" class="cmp-radio2 iconRadioinput see-icon-v5-common"></span>
	        	<i18n key="meeting.page.action.noAttend"></i18n>
	        </li>
	        <li name="feedbackFlag" data-value="-1">
	        	<span value="meeting.page.action.pending" class="cmp-radio2 iconRadioinput see-icon-v5-common"></span>
	        	<i18n key="meeting.page.action.pending"></i18n>
	        </li>
	    </ul>
	
	   	<div id="comment_div" class="replay_opinion_content col border_t relative">
		    <div class="information wh100">
		        <textarea id="replyContent" rows="5"></textarea>
		    </div>
	   	</div>
	</div>

<!-- 附件容器 -->
<div class="number" >
	<span id="openAt" class="cmp-icon iconfont see-icon-v5-common-at"></span>
	<a id="attchmentFile" class="cmp-icon iconfont see-icon-accessory none-attach">
		<span id="attCount" class="count_num none-attach"></span>
	</a>

	<h5 id="fontCount">1200</h5>
</div>

<footer class="cmp-bar cmp-bar-footer single_btn back_white">
	<div class="wh100 border_t relative">
		<div class="btn_wrap">
			<button id="sendBtn" type="button"><i18n key="meeting.page.action.send"></i18n></button> 
		</div>
	</div>
</footer>

<div id="picture"></div>

	</div>

	<div id="animateC" class="Animated-Container bottom-go transparentBgBox">
		<div class="shadebg"></div>
		
		<div class="cmp-content cmp-content-fixed back_f2 absolute cmp-content-none" style="bottom:50px; top: 20%; width:100%;">
			<textarea id="cancelComment" class="meeting-text" placeholder=""></textarea>
			<div class="max-text"><span id="fontCount">100</span></div>
		</div>
		<footer class="cmp-bar cmp-bar-tab cmp-bar-footer cmp-bar-tabview ">
			<div class="cmp-block-with-box cmp-block-with-btn footer-btn">
				<button id="calcelBtn" class="cmp-btn cmp-btn-primary2 cmp-btn-outlined cmp-btn-width40"><i18n key="meeting.meetingRoomList.cancel"></i18n></button>
				<button id="sumbitBtn" class="cmp-btn cmp-btn-primary2 cmp-btn-width40"><i18n key="meeting.meetingRoomApply.btn"></i18n></button>
			</div>
		</footer>

	</div>

	<div id="sign-barcode-container" style="display: none;">
		<div class="sign-barcode-backdrop"></div>
		<div class="meeting-bar-code">
			<span id ="mtQrcodeClose" class="see-icon-v5-common-close"></span>
			<div class="bar-code-title"><i18n key="meeting.page.label.singn.qrcode"></i18n></div>
			<div class="bar-code-container">
				<img id ="qrcodeImg" src=""/>
			</div>
			<div class="bar-code-tips"></div>
			<div class="bar-code-print"><i18n key="meeting.page.label.barcode.print"></i18n></div>
		</div>
	</div>
</body>
</html>
