<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <script src="http://commons.m3.cmp/v1.0.0/js/flexible.js"></script>
    <title>通讯录首页</title>

    <!--导入v5门户的图标库-->
        <link rel="stylesheet" href="http://cmp/v1.0.0/css/cmp.css?buildversion=20329212720">
    <link rel="stylesheet" href="http://cmp/v1.0.0/css/cmp-listView.css?buildversion=20329212720">
    <link rel="stylesheet" href="http://commons.m3.cmp/v1.0.0/fonts/iconfont.css?buildversion=20329212720">
    <link rel="stylesheet" href="http://commons.m3.cmp/v1.0.0/css/base.css?buildversion=20329212720">
    <link rel="stylesheet" href="http://commons.m3.cmp/v1.0.0/css/m3-template.css?buildversion=20329212720">
    <link rel="stylesheet" href="http://search.m3.cmp/v1.0.0/css/my-person.css?buildversion=20329212720">
    <link rel="stylesheet" href="http://search.m3.cmp/v1.0.0/css/organization.css?buildversion=20329212720">
    <link rel="stylesheet" href="http://search.m3.cmp/v1.0.0/css/address-index.css?buildversion=20329212720">

</head>

<body class="bg_gray flex-v">
<script>
    /**
     * @description 优化IphoneX的头部交互，组织去抖动
     */
    ;(function() {
        var ua = window.navigator.userAgent.toUpperCase(),
            curUrl = window.location.href,
            isNeedShowHeader = curUrl.match(/ParamHrefMark|isfromnative/)
        window.isNeedShowHeader = isNeedShowHeader;
        var isFromApp = curUrl.match(/xiaozhiSpeechInput/);
        if (ua.match(/IPHONEX/)) {
            document.body.className += ' cmp-ios-x';
        } else if (ua.match(/IPHONE|IPAD|IPOD/)) {
            document.body.className += ' cmp-ios';
        }
        if (isNeedShowHeader) {
            document.body.className += ' from-page';
        } else {
            document.body.className += ' from-app';
        }
        if(isFromApp){
            document.body.className += " fromApp";
        }
    })();
</script>
<header class="cmp-bar m3-cmp-bar before-none cmp-bar-nav cmp-flex-header m3-iosx cmp-header-backHandle">
    <div class="cmp-action-back cmp-header-left">
        <span class="cmp-icon see-icon-v5-common-arrow-back header-back icon-left"></span>
        <span class="nav-text header-back"><i18n key="search.m3.h5.return"></i18n></span>
    </div>
    <div class="cmp-title">
        <span class="header-back"><i18n key="search.m3.h5.searchPeople"></i18n></span>
    </div>
    <div class="cmp-header-right">
    </div>
</header>

<div class="cmp-content position_relative flex-1 flex-v" style="top:0;">
    <!-- 搜索 -->
    <div class="cmp-segmented_title_content scroll_up_zone">
        <div class="header-nav">
            <a id="isOrg" class="cmp-active cmp-app-bgc1"><i18n key="search.m3.h5.isOrg"></i18n></a>  <!--行政组织 -->
            <a id="isScope" class="" style="display:none;"><i18n key="search.m3.h5.isScope"></i18n></a>   <!--多维组织 -->
        </div>

        <div class="cmp-bar m3-cmp-bar cmp-bar-nav m3-search">
            <span class="search-btn">
                <i class="cmp-icon cmp-icon-search"></i>
                <i class="placeholder"><i18n key="search.m3.h5.inputPrompt"></i18n></i>
            </span>
        </div>
    </div>

    
    <!-- 快捷入口 -->
    <div class="cmp-segmented-control cmp-segmented-control-inverted scroll_up_zone " style="display:none;" id="shortcutEntry">
        <div class="flex quick-content">
            <div class="flex1" id="myDepartment">
                <img class="quick-icon" src="http://search.m3.cmp/v/img/my-department.png" alt="">
                <!-- <span class="quick-icon iconfont see-icon-department"></span> -->
                <span class="txt cmp-ellipsis"><i18n key="search.m3.h5.myDepart"></i18n></span>
            </div>
            <div class="flex1" id="aspersonel">
                    <img class="quick-icon" src="http://search.m3.cmp/v/img/my-aspersonel.png" alt="">
                <!-- <span class="quick-icon iconfont see-icon-follow-person"></span> -->
                <span class="txt cmp-ellipsis"><i18n key="search.m3.h5.AssociatedPersonnel"></i18n></span>
            </div>
            <div class="flex1" id="group">
                    <img class="quick-icon" src="http://search.m3.cmp/v/img/my-group.png" alt="">
                <!-- <span class="quick-icon iconfont see-icon-m3-mygroup-fill"></span> -->
                <span class="txt cmp-ellipsis"><i18n key="search.m3.h5.groupChart"></i18n></span>
            </div>
            <div class="flex1" id="projectTeam">
                    <img class="quick-icon" src="http://search.m3.cmp/v/img/my-projectTeam.png" alt="">
                <!-- <span class="quick-icon iconfont see-icon-m3-projectteam"></span> -->
                <span class="txt cmp-ellipsis"><i18n key="search.m3.h5.projectTeam"></i18n></span>
            </div>
        </div>
    </div>
    <!-- 组织架构 -->
    <div class="cmp-control-content cmp-active flex-1" id="isOrgContent">
        <div id="indexListView" class="cmp-scroll-wrapper">
            <div class="cmp-scroll">
                <div class="search-person flex-v flex-1">
                    <!-- 公司列表 -->
                    <ul class="cmp-table-view search-company isOrg"></ul>
                    <!--列表-->
                    <ul class="cmp-table-view search-depart isOrg flex-1"></ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 多维组织 -->
    <div class="business-content flex-1 flex-v" id="isScopeContent" style="display:none;">
        <!-- 公司列表 -->
        <div class="">
            <ul class="cmp-table-view search-company isScope"></ul>
        </div>
        <!-- 所有业务线数据容器 -->
        <div class="businessLine">
            <div id="businessScroll" class="cmp-scroll-wrapper">
                <div class=scroller>
                    <ul class="ul" id="businessData"></ul>
                </div>
            </div>
        </div>
        <div class="cmp-control-content cmp-active scroll-content flex-1" id="">
            <div id="scopeListView" class="cmp-scroll-wrapper">
                <div class="cmp-scroll">
                    <div class="search-person flex-v flex-1">
                        <!--部门列表-->
                        <ul class="cmp-table-view search-depart isScope flex-1"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



<script src="http://search.m3.cmp/v1.0.0/i18n/search_zh_CN.js?buildversion=20329212720"></script>
<script src="http://commons.m3.cmp/v1.0.0/i18n/commons_zh_CN.js?buildversion=20329212720"></script>
<script src="http://cmp/v1.0.0/js/cmp-i18n.js?buildversion=20329212720"></script>
<script>
    cmp.i18n.load("http://commons.m3.cmp/v1.0.0/i18n/", "commons");
    cmp.i18n.init("http://search.m3.cmp/v1.0.0/i18n/", "search");
    var m3CommonsPath = "http://commons.m3.cmp/v1.0.0";
    var m3SearchPath = "http://search.m3.cmp/v1.0.0";
    var cmpPath = "http://cmp/v1.0.0";
    // var v5TaskmanagerPath = "";
    // var v5MeetingPath = "";
    // var v5CalendarPath = "";
</script>

<script src="http://cmp/v1.0.0/js/cordova/__CMPSHELL_PLATFORM__/cordova.js"></script>
<script src="http://cmp/v1.0.0/js/cordova/cordova-plugins.js"></script><script src="http://cmp/v1.0.0/js/cmp.js?buildversion=20329212720"></script>
<script src="http://cmp/v1.0.0/js/cmp-app.js?buildversion=20329212720"></script>
<script src="http://cmp/v1.0.0/js/cmp-listView.js?buildversion=20329212720"></script>
<script src="http://cmp/v1.0.0/js/cmp-chat.js?buildversion=20329212720"></script>
<script src="http://cmp/v1.0.0/js/cmp-server.js?buildversion=20329212720"></script>
<script src="http://cmp/v1.0.0/js/cmp-webviewListener.js?buildversion=20329212720"></script>
<script src="http://cmp/v1.0.0/js/cmp-watermark.js?buildversion=20329212720"></script>

<script src="http://commons.m3.cmp/v1.0.0/js/m3-path.s3js?buildversion=20329212720"></script>
<script type="text/javascript">
    var _addressbookPath = "http://search.m3.cmp/v1.0.0";var _cmpSeeyonPath = "http://cmp/v1.0.0";;
</script><!-- seajs -->
<script src="http://commons.m3.cmp/v1.0.0/lib/seajs-2.2.1.js?buildversion=20329212720"></script>
<script src="http://commons.m3.cmp/v1.0.0/config.js?buildversion=20329212720"></script>
<!--微协同导入app映射关系 xinpei 2019-10-21-->
<!-- 模块入口 -->
<script>seajs.use('http://search.m3.cmp/v1.0.0/js/address-index.js')</script>

</body>

</html>
